h1 { text-align: center; background: blue; color: white; width: 100%; margin: 0 0; }

h2 { text-align: pozycja; color: blue; margin: 70px 40px; }

p { text-align: pozycja; line-height: 24px; font-size: 50px; color: niebieski; background-color: blue; }
